@import "variables";

/* media queries */
@mixin mobile-max {
  @media #{$xs} {
    @content;
  }
}

@mixin tablet {
  @media #{$gt-xs} {
    @content;
  }
}

@mixin tablet-max {
  @media #{$sm} {
    @content;
  }
}

@mixin desktop {
  @media #{$gt-sm} {
    @content;
  }
}

@mixin desktop-max {
  @media #{$md} {
    @content;
  }
}

@mixin desktop-large {
  @media #{$gt-md} {
    @content;
  }
}

@mixin desktop-large-max {
  @media #{$lg} {
    @content;
  }
}

@mixin desktop-xlarge {
  @media #{$gt-lg} {
    @content;
  }
}

/* font-size */
@mixin paragraph {
  font-size: $paragraph-size--mobile;
  font-weight: $font-weight-book;
  line-height: 1.65;
  @include tablet {
    font-size: $paragraph-size;
  }
}

@mixin heading-primary {
  font-size: $heading-primary-size--mobile;
  font-weight: $font-weight-black;
  line-height: 1.5;
  @include tablet {
    font-size: $heading-primary-size;
  }
}

@mixin heading-secondary {
  font-size: $heading-secondary-size--mobile;
  font-weight: $font-weight-black;
  line-height: 1.5;
  @include tablet {
    font-size: $heading-secondary-size;
  }
}

@mixin heading-tertiary {
  font-size: $heading-tertiary-size--mobile;
  font-weight: $font-weight-bold;
  line-height: 1.5;
  @include tablet {
    font-size: $heading-tertiary-size;
  }
}
