/* fonts */
$font-primary: "proximanova";

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

$font-weight-black: $font-weight-bold;
$font-weight-book: $font-weight-normal;

/* colors */
$color-primary: #4f88ef;
$color-primary-active: #1166a5;
$color-gray-1: #ffffff;
$color-gray-2: #f5f8fa;
$color-gray-3: #e6eaee;
$color-gray-4: #7f8fa4;
$color-gray-5: #354052;

/* colors not being used yet */
$color-secondary: #372347;
$color-tertiary: #9c92a4;

$color-accent: #0092ff;

$color-error: #f60000;

$color-gray-6: #e4e7ee;
$color-gray-5: #36333c;

$color-accent-alt-1: #f70;
$color-accent-alt-2: #70c017;
$color-accent-alt-3: #009659;
$color-accent-alt-4: #f05a28;

/* color specific */
$header-color-primary: $color-gray-5;
$paragraph-color-primary: $color-gray-3;

/* media queries */
$xs: (max-width: 599px);
$gt-xs: (min-width: 600px);
$sm: (min-width: 600px) and (max-width: 959px);
$gt-sm: (min-width: 960px);
$md: (min-width: 960px) and (max-width: 1279px);
$gt-md: (min-width: 1280px);
$lg: (min-width: 1280px) and (max-width: 1919px);
$gt-lg: (min-width: 1920px);
$xl: (min-width: 1920px);

/* font sizes */
$default-font-size: 18px;
$default-font-size--mobile: 16px;
$heading-primary-size: 36px;
$heading-primary-size--mobile: 32px;
$heading-secondary-size: 25px;
$heading-secondary-size--mobile: 18px;
$heading-tertiary-size: 18px;
$heading-tertiary-size--mobile: 16px;
$paragraph-size: 18px;
$paragraph-size--mobile: 16px;

/* sizing */
$main-navigation-height: 90px;
$main-navigation-height--small: 70px;

$subnav-height: 80px;
$subnav-height--mobile: 72px;

/* spacing */
$padding: 20px;
