@import "../../../shared/styles/variables";

.entry {
  align-items: center;
  border: 1px solid $color-monochrome-2;
  border-bottom-left-radius: 0;
  border-left: 4px solid $color-primary;
  border-radius: 4px;
  color: $color-monochrome-4;
  display: flex;
  font-size: 16px;
  font-weight: $font-weight-bold;
  height: 82px;
  justify-content: space-between;
  padding: 17px 15px 17px 12px;

  & + & {
    border-top: none;
    border-top-left-radius: 0;
  }

  &__time {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__duration {
    color: $color-monochrome-3;
    font-size: 14px;
  }
}
