$site-header-height: 50px;

.site-header {
  background-color: #4f88ef;
  color: #ffffff;
  height: $site-header-height;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: height .3s;

  &__mobile {
    align-items: center;
    display: flex;
    height: $site-header-height;
    justify-content: center;
  }

  &__title {
    font-family: bello-script;
    font-size: 26px;
  }

  &__navigation-button {
    background: url('/static/icons/hamburger.svg') center center no-repeat;
    height: $site-header-height;
    position: absolute;
    right: 0;
    top: 0;
    width: $site-header-height;
  }

  &__navigation-button-label {
    display: none;
  }

  &--open {
    height: 100%;

    .site-header__navigation-button--open {
      background-image: url('/static/icons/close.svg');
    }
  }
}
