@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixins";

.overview {
  &__header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 4px 0 32px;

    @include desktop {
      margin: 33px 0 25px;
    }
  }

  &__title {
    display: none;

    @include desktop {
      color: $color-gray-5;
      display: block;
      font-size: 24px;
      font-weight: $font-weight-normal;
    }
  }

  &__add-button {
    align-items: center;
    background-image: linear-gradient(to bottom, #39b54a, #34aa44 98%);
    border: solid 1px #249533;
    border-radius: 4px;
    color: $color-gray-1;
    display: flex;
    flex-grow: 1;
    font-size: 14px;
    font-weight: $font-weight-bold;
    height: 36px;
    justify-content: center;
    padding-right: 21px;
    text-decoration: none;

    @include desktop {
      flex-grow: 0;
    }

    &::before {
      background: url("/static/icons/plus.svg") no-repeat center center;
      content: "";
      display: inline-block;
      height: 34px;
      width: 34px;
    }
  }
}
